.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: 3rem auto;
  align-items: center;
  color: rgb(33, 11, 61);
}

.app h1 {
  color: rgb(243, 231, 255);
}

.app h2 {
  color: rgb(243, 231, 255);
}

.lists {
  display: flex;
  gap: 2rem;
  width: 90%;
}