.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  color: rgb(33, 11, 61);
}

.app h1 {
  color: rgb(243, 231, 255);
}

.app h2 {
  color: rgb(243, 231, 255);
}

.lists {
  display: flex;
  gap: 2rem;
  width: 90%;
}

.resultContainer, .playlistContainer {
  width: 50%;
  background-color: rgba(58, 2, 131, 0.699);
  border-radius: 2rem;
  overflow: hidden;
}